.login {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.login-container {
    min-width: 320px;
    width: 500px;
    background-color: #FFF;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 0 4px #0003;
}

.login h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    margin: 0 0 18px 0;
    gap: 6px;
    position: relative;
}

.login-btn {
    padding: 12px 4px;
    color: #fff;
    background-color: #036eb5;
    border-radius: 2px;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.login-error-container {
    align-self: center;
    width: 180px;
    position: relative;
    margin: 10px 0;
}

.login-error-text {
    color: #f00;
    font-size: 14px;
    position: absolute;
    bottom: 0;
}

.login-unexistentAccont-focus {
    color: #00f;
    font-size: 16px;
    font-weight: bolder;
}

@media (max-width:500px) {
    .login-container {
        width: 90%;
        padding: 18px 12px;
    }
}