.card {
    height: 300px;
    width: 210px;
    margin: 10px 0;
    padding: 16px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #efefef;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.253);
}

.card-title {
    text-align: start;
    height: 50px;
    overflow: hidden;
}

.card-img {
    height: 170px;
    width: 100%;
    border-radius: 5px;
}

.card-info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.prod-price {
    font-size: 24px;
    font-weight: bold;
    color: #000000cc;
}

.prod-price-prices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 8px;
}

.prod-price--realprice {
    text-decoration: line-through;
}

.prod-price--green {
    color: #00A650;
    margin: 0 0 2px 4px;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
}

.prod-price--off {
    color: #f00;
}

.card-prices {
    width: 100%;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width: 500px) {
    .card {
        height: 350px;
        min-width: 290px;
        padding: 10px;
    }

    .card:hover {
        box-shadow: unset;
    }

    .card-title {
        font-size: 18px;
    }

    .card-btn {
        width: 120px;
        font-size: 16px;
        font-weight: bold;
        color: #ddd;
    }

    .card-img {
        height: 200px;
    }

    .prod-price {
        font-size: 18px;
    }
}