.home {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding: 0;
}

.home-anuncio {
    color: #fff;
    padding: 0 24px;
    height: 280px;
    width: 100%;
    background-color: #00A0B0;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    box-shadow: -2px 4px 4px #0005;
}

.home-anuncio-texts {
    width: 400px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 0;
    margin-bottom: 16px;
    place-items: center;
    align-items: center;
}

.home-anuncio-text {
    width: 100%;
    padding-left: 4px;
    grid-column: span 2;
    text-align: start;
}

.home-anuncio-textStrong {
    text-align: start;
    font-size: 29px;
    display: block;
}

.home-anuncio-img {
    height: 280px;
    width: 320px;
}

.home-anuncio-installment,
.home-anuncio-freight {
    height: 52px;
    color: #000;
    white-space: nowrap;
    font-weight: 600;
    padding: 2px;
    background-color: #ffff00;
}

.home-anuncio-installment {
    width: 190px;
    line-height: 22px;
    text-align: start;
}

.home-installment-one {
    font-size: 14px;
    display: inline-block;
    z-index: 1;
    transform: rotate(-90deg) translateY(4px) translateX(10px);
}

.home-installment-middle {
    font-size: 52px;
    font-weight: bolder;
}

.home-installment-twho {
    margin-left: 4px;
    white-space: wrap;
    font-size: 20px;
    text-align: start;
    width: 100px;
    display: inline-block;
}

.home-anuncio-freight {
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-freight-one {
    font-size: 22px;
    font-weight: bolder;
}

.home-freight-twho {
    font-size: 18px;
}

.home-payments {
    margin: 20px auto 0;
    width: 82%;
    background-color: transparent;
    display: flex;
    overflow: hidden;
}

.home-payment:first-child {
    border-left: 4px solid #2177F8;
}

.home-payment {
    background-color: #fff;
    border-left: 1px solid #ddd;
    padding: 16px 24px;
    flex-grow: 1;
}

.home-payment-title {
    font-weight: 500;
    white-space: nowrap;
    text-align: start;
}

.home-payment-desc {
    text-align: start;
    font-size: 12px;
    color: #2177F8;
    cursor: pointer;
}

.home-resume {
    margin: 10px 0;
    font-size: .9rem;
}

.loader-container {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.container-prod {
    margin-top: 12px;
    width: 100%;
    padding: 0 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    justify-content: center;
}

@media (max-width:720px) {
    .home-anuncio {
        align-items: center;
        height: 200px;
        padding: 12px 0 0 0;
        gap: 4px;
    }

    .home-anuncio-img {
        height: 140px;
        width: 160px;
        align-self: flex-end;
        margin-bottom: 16px;
    }

    .home-anuncio-texts {
        width: 50%;
        display: flex;
        gap: 8px;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-anuncio-text {
        font-size: 12px;
    }

    .home-anuncio-textStrong {
        text-align: start;
        font-size: 22px;
        display: block;
    }

    .home-anuncio-installment {
        height: 34px;
        width: 138px;
        line-height: 22px;
        text-align: start;
    }

    .home-installment-one {
        font-size: 10px;
        display: inline-block;
        z-index: 1;
        transform: rotate(-90deg) translateY(2px) translateX(7px);
    }

    .home-installment-middle {
        font-size: 32px;
    }

    .home-installment-twho {
        font-size: 16px;
        white-space: pre-wrap;
        line-height: 14px;
        width: 50px;
    }

    .home-anuncio-freight {
        height: 40px;
    }

    .home-freight-one {
        font-size: 18px;
        font-weight: bolder;
    }

    .home-freight-twho {
        line-height: 14px;
        font-size: 15px;
    }

    .home-payments {
        margin: 16px auto;
        width: 94%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
    }

    .home-payments .home-payment:nth-child(3) {
        border-left: 4px solid #2177F8;
    }

    .home-payment {
        width: 100%;
        font-size: 12px;
        padding: 8px;
        background-color: #fff;
    }

    .home-payment-title {
        font-weight: 500;
        white-space: nowrap;
        text-align: start;
    }

    .home-payment-desc {
        text-align: start;
        font-size: 10px;
        color: #2177F8;
        cursor: pointer;
    }

    .container-prod {
        margin-top: 0;
        padding: 0 12px;
    }

}