.products, .home, .about, .cart-container{
    margin-top: 55px;
}
.home-resume{
    margin-top: 10px;
}
.select-container{
    width: 100%;
    position: fixed;
    top: 49px;
    background: #131313;
    z-index: 1;
    padding-bottom: 5px;
}

.container-prod{
    height: 90vh;
    margin-top: 70px;
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.page-container{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found{
    height: 250px;
    width: 300px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.not-found-img{
    height: 100px;
    border-radius: 20px;
}
.not-found-text{
    width: 100px;
}
.cart{
    display: flex;
    justify-content: space-evenly;
}
.hidden{
    overflow: hidden;
    height: 90vh;
    margin-top: 0;
}

@media (max-width:500px){
    .hidden{
        height: 99vh;
    }
}