.card{
    height: 240px;
    width: 170px;
    margin: 10px 0;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.card-title{
    text-align: center;
}
.card-img{
    height: 110px;
    margin-top: 5px;
    width: 85%;
    border-radius: 5px;
}
.card-info{
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-around;
}
.prod-price{
    font-size: 14px;
}
.prod-price--green{
    color: #0f0;
}
.prod-price--off{
    color: #f00;
}
.card-cart{
    height: 30px;
    background-color: transparent;
    border: 1px solid #008080;
    border-radius: 5px;
    padding: 2px;
}
.card-cart:hover{
    cursor: pointer;
}
.card-cart-img{
    height: 25px;
}
.card-btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-weight: 600;
    padding: 2px 5px;
    border: 0;
    color: #fff;
    background: linear-gradient(to left,#008080, #00c0c0);
    border-radius: 2px;
}
.card-btn:hover{
    cursor: pointer;
}
.card-btn--close{
    position: absolute;
    top: 5px;
    right: 5px;
}
.sale-form{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.nav-container{
    height: 50px;
    color: #fff;
    box-shadow: 2px 0 8px rgba(255, 255, 255, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cart-button{
    position: absolute;
    right: 5px;
    background-color: transparent;
    height: 40px;
    padding: 5px 10px;
    border: 0;
}
.cart-img{
    height: 30px;
}
.routes-list{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.list-item-link{
    color:#fff;
    padding: 10px;
}
.list-item-link:hover, .cart-button:hover{
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 5px;
    cursor: pointer;
}
.buyCard-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.377);
}
.buyCard{
    width: 500px;
    height: 350px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    position: relative;
    border-radius: 5px;
}
.buyCard-title, .buyCard-prod-price, .buyCard-prod-desc{
    color: #000;
}
.buyCard-prod-desc{
    font-size: 13px;
}
.buyCard-img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
.message-container{
    width: 95vw;
    padding-left: 5vw;
    top: 40px;
    position: absolute;
}
.message{
    width: 80vw;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background: linear-gradient(to left,#008080ef, #00c0c0ef);
}
.loader{
    margin-top: 5px;
    height: 50px;
    width: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
}
.loader-item{
    height: 25px;
    width: 5px;
    background-color: #000;
    border-radius: 5px;
    animation: scale-up 2s ease-in-out infinite;
}
.loader-item--secund{
    animation-delay: .3s;
}
.loader-item--third{
    animation-delay: .6s;
}

@keyframes scale-up{
    20%{
        transform: scaleY(1.5);
    }
    60%{
        transform: scaleY(1);
    }
}
@media (max-width : 500px) {
    .routes-list{
        width: 250px;
    }
    .buyCard-img{
        height: 150px;
        width: 150px;
    }
    .buyCard-prod-desc{
        font-size: 12px;
    }
}