.card{
    height: 200px;
    width: 160px;
    margin: 10px 0;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.card-title{
    text-align: center;
}
.card-img{
    height: 100px;
    width: 80%;
    border-radius: 5px;
}
.card-info{
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-around;
}
.prod-price{
    font-size: 12px;
}
.prod-price--green{
    color: #0f0;
}
.card-info-btn{
    height: 16px;
    font-size: 10px;
    padding: 0 5px;
}
.sale-form{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.nav-container{
    height: 35px;
    color: #fff;
    box-shadow: 2px 0 8px rgba(255, 255, 255, 0.342);
    display: flex;
    justify-content: center;
    align-items: center;
}
.routes-list{
    display: flex;
    width: 300px;
    justify-content: space-around;
}
.list-item-link{
    color:#fff;
    padding: 5px;
}
.list-item-link:hover{
    background-color: rgba(255, 255, 255, 0.308);
    border-radius: 5px;
}